/* ========== КНОПКА "НАВЕРХ" ========== */

#backToTop {
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.2s ease, background 0.3s ease;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}

#backToTop.show:hover {
    transform: scale(1.1);
}

#backToTop.show {
    animation: fadeInUp 0.3s ease-out forwards;
}