/* Бургер-меню анимация */
.burger-line {
    transition: all 0.3s ease;
}

.rotate-45 {
    transform: rotate(45deg);
}

.-rotate-45 {
    transform: rotate(-45deg);
}

.translate-y-2 {
    transform: translateY(8px);
}

.-translate-y-2 {
    transform: translateY(-8px);
}

.opacity-0 {
    opacity: 0;
}